<!-- Custom site header: overrides Minima default -->
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">Pradyumn Dayal</a>
    <nav class="site-nav">
      <a class="page-link" href="{{ "/" | relative_url }}">Home</a>
      <a class="page-link" href="{{ "/resume/" | relative_url }}">Resume</a>
      <a class="page-link" href="{{ "/writing/" | relative_url }}">Writing</a>
    </nav>
  </div>
</header>
